.side-bar {
  background-color: var(--sidebar-bg);
  max-width: 240px;
  height: 100vh;
}

.side-bar .side-bar-logo {
  width: 110px;
  height: 70px;
  padding-left: 25px;

}

.divider-solid {
  border-top: 1px solid #bbb;
  color: var(--text-primary);
  margin-left: 28px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}