.menu-item {
  max-height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--navigation-text);
  padding: 10px 25px;
  border-left: 3px solid transparent;

}

.menu-item:hover,
.menu-item.active {
  color: var(--text-item-hover);
}

.menu-item.active {
  border-left: 3px solid var(--text-item-hover);
  background-color: var(--alpha-bg);

}

.menu-item-main {
  display: flex;
  align-items: center;
}

.menu-item-lable {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;

}

.menu-item-icon {
  font-size: 20px !important;
}

.menu-item .menu-item-play-icon{
  outline: unset;
  border: unset;
  background-color: transparent;
  display: none;
  color: var(--text-item-hover);
  cursor: pointer;
}
